/* contacts.css */

.parent_container {
  width: 100%; /* Full width */
  max-width: 1800px; /* Optional: cap width but allow full stretch up to 1800px */
  margin: 0 auto;
}

@media (max-width: 768px) {
  .text {
    font-size: 18px !important;
  }
}

.container.contacts_container {
  display: grid;
  gap: 20px;
}

.contacts_options {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns by default */
  gap: 20px;
}

.option {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fef3d7;
  padding: 20px;
  color: #0c0002;
}

.email_icon,
.ig_icon,
.linkedin_icon {
  fill: #0c0002;
}

.text {
  color: #0c0002;
}

.option:hover {
  background-color: #0c0002;
}

.option:hover h4,
.option:hover h5,
.option:hover a,
.option:hover .email_icon,
.option:hover .linkedin_icon,
.option:hover .ig_icon {
  color: #fef3d7;
  fill: #fef3d7;
}

/* Media Queries for different screen sizes */
@media screen and (min-width: 1025px) {
  .parent_container {
    width: 100%;
  }
  .contacts_options {
    grid-template-columns: repeat(4, 1fr); /* 4 columns for large screens */
  }
}

@media screen and (max-width: 1500px) {
  .contacts_options {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for medium screens */
  }
}

@media screen and (max-width: 768px) {
  .contacts_options {
    grid-template-columns: 1fr; /* 1 column for small screens */
  }
}
