.body {
    min-height: 100vh; /* Set minimum height to 100% of the viewport height */
    margin-bottom: 150px; /* Add margin at the bottom to create space */
}

.container {
    margin-bottom: 100px;
}

/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */

@media screen and (max-width: 1024px) {
    header {
        height: 100vh;
    }

}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */

@media screen and (max-width: 768px) {
    header {
        height: 100vh;
    }
    .header__socials, .scroll__down {
        display: none;
    }
}